doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Octo Memory
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/cat_cards.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    h1#title Octocat Memory Game
    button#startGame Start
    #board
        .card#card0 
          .back_white
        .card#card1
          .back_white
        .card#card2 
          .back_white
        .card#card3 
          .back_white
        .card#card4 
          .back_white
        .card#card5
          .back_white
        .card#card6
          .back_white
        .card#card7
          .back_white
        .card#card8
          .back_white
        .card#card9
          .back_white
        .card#card10
          .back_white
        .card#card11
          .back_white
        .card#card12
          .back_white
        .card#card13
          .back_white
        .card#card14
          .back_white
        .card#card15
          .back_white
        .card#card16
          .back_white
        .card#card17
          .back_white
        .card#card18
          .back_white
        .card#card19
          .back_white



